[Unit]
Description=Automate Pi Touch Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/GIT/pitouch/pitouch_screen.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
